<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Room Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css"
            integrity="sha512-c93ifPoTvMdEJH/rKIcBx//AL1znq9+4/RmMGafI/vnTFe/dKwnn1uoeszE2zJBQTS1Ck5CqSBE+34ng2PthJg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    >
</head>
<body>
<!--icon -->
<div class="container text-center my-4">
    <i class="fas fa-hotel fa-5x"></i>
</div>

<!--navbar-->
<div th:include="navbar :: navbar"></div>

<!--room list-->
<div class="container">
    <div th:each="room : ${rooms}" class="cards">
        <div class="card" style="width: 30rem;">
            <img th:src="${room.imagePath}" class="card-img-top" alt="room image">
            <div class="card-body">
                <h5 class="card-title"
                    th:text="${#strings.capitalize(room.roomType.toString().toLowerCase())}
                    + ' '
                    + ${#strings.capitalize(room.bedSize.toString().toLowerCase())}"></h5>
                <p class="card-text" th:text="'Price per night: '+${room.pricePerNight}"></p>
                <p class="card-text" th:text="${room.description}"></p>
                <!-- Add more profile attributes as needed -->
            </div>
        </div>
    </div>
</div>
</body>
</html>
