<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Additional Services</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css"
            integrity="sha512-c93ifPoTvMdEJH/rKIcBx//AL1znq9+4/RmMGafI/vnTFe/dKwnn1uoeszE2zJBQTS1Ck5CqSBE+34ng2PthJg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    >
</head>
<body>
<!--icon -->
<div th:insert="~{fragments/icon :: icon}"></div>

<!--navbar-->
<div th:insert="~{fragments/navbar :: navbar}"></div>

<!-- additional services section -->
<div class="container">
    <h2 class="sub-title text-center">Book Your Room Now</h2>
    <section class="card booking-form col-6" style="width:60%;margin: auto">
        <div class="card-header">Booking Form</div>
        <div class="card-body">
            <div class="card-text">
                <div class="confirmation">
                    <p>Congrats! Your order has been created.</p>
                    <p>Room No. <span th:text="${booking.getRoom().getRoomNumber()}"></span></p>
                    <p>Check-in Date: <span th:text="${booking.getCheckInDate()}"></span></p>
                    <p>Check-out Date: <span th:text="${booking.getCheckOutDate()}"></span></p>
                </div>
            </div>
            <p>Do you wish to pay your order now? </p>
            <a class="btn btn-primary mt-4" th:href="@{/payment}">Yes</a>
            <a class="btn btn-secondary mt-4" th:href="@{/home}">No</a>
        </div>
    </section>
</div>
</body>
</html>